@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Playfair Display", serif !important;
  scroll-behavior: smooth;
}

/*=========================================
Header Section
===========================================*/

.header{
  padding: 40px 0;
}

.menu ul li{
  padding: 0 20px;
}

.menu ul li a{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #626262 !important;
}

/*=========================================
Common CSS
===========================================*/

.category-title{
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 14px;
}

.section-title{
  font-size: 30px;
}

.section-title, .paragraph{
  color: #626262;
}

.paragraph{
  text-align: justify;
  font-size: 14px;
}

.feature-img{
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.feature-img img{
  transition: all .7s linear;
}

.feature-img img:hover{
  transform: scale(1.1);
}

/*=========================================
Subscribe Section
===========================================*/


.subscribe{
  background-color: #F0F0F0;
  padding: 100px;
}

.subscribe h1{
  color: #333333;
  font-size: 30px;
}

.form-custom::placeholder{
  font-size: 14px;
  color: #626262;
}

.form-custom{
  border: none !important;
  border-bottom: 2px solid #333333 !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

form{
  position: relative;
}

.btn-submit{
  position: absolute;
  top: 0;
  right: 0;
  outline: none !important;
  box-shadow: none !important;
}

/*=========================================
Footer Section
===========================================*/

.footer{
  background-color: #F0F0F0;
  position: relative;
  border-top: 2px solid #282A36;
}

.terms a, .terms span{
  font-size: 14px;
  color: #000000;
}

.terms span:hover{
  color: #000000;
}

/*==========================
Jump To Top Button
============================*/

.jump__to__top a::before{
  content: "";
  position: absolute;
  background:#282A36;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1px 1.5px red;
  z-index: -1;
  transition: all .3s linear;
}

.jump__to__top a{
  position: absolute;
  color: #ffffff;
  z-index: 1;
  font-size: 20px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s linear;
}

.jump__to__top a:hover::before{
  box-shadow: 0 0 3px 2px red;
}

.jump__to__top a:hover{
  color: red;
}